button{
    margin: 59px auto;
    display: flex;
}

header{
    height: 50px;
}

main{
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

label{
    width: 100%;
}

div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 242, 247);
}

.image{
    max-width: 100%;
    height: 400px;
    background-color: rgb(203, 203, 203);
}

.tag-label{
    width: auto;
}

/* Template_style.css */
.content-label {
  display: block;     /* ラベル全体をブロック化 */
  margin-bottom: 12px;
}

.content-label textarea {
  display: block;     /* textareaを改行させる */
  margin-top: 4px;    /* 「内容」との間に少し余白 */
  width: 100%;
  height: 100px;
}

